.unorderlist{
    list-style-type: square;
}

.unorderlist-2nd{
    list-style-type: none;
    font-size: 14px;

}
.watchbtn span{
 background-color: #e53637;
 padding: 10px 30px;
 border-radius: 7px;
 cursor: pointer;
 margin-left: 7px;
 margin-top: 10px;
}
.reviewimg img{
    border-radius: 50%;
}
.commentbackground{
    background-color: #1d1e39;
    margin: 0px;
    padding-top: 10px;
    border-radius: 7px;
}
@media only screen and (max-width: 600px){
    .watchbtn span{
        padding: 6px 18px;
        margin-left: 7px;
        margin-top: 10px;
       }
    .unorderlist{
        padding-left: 0;
        margin-left: 0;
        font-size: 12px;
    }

    .unorderlist-2nd{
        font-size: 12px;
        padding-left: 0;
        margin-left: 5px;
        font-weight: lighter;
        letter-spacing: 0;

    }
    .unorderlist li {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .unorderlist-2nd li{
        margin-bottom: 18px;
    }
    .unorderlist-2nd li p{
        width: 100px;
        
    }
    html{
        overflow-x: hidden;
    }
}