@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Oswald:wght@500&display=swap');
*{
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}


.oswald{
    font-family:'Oswald', sans-serif ;
}
.section-title{
    border-left:4px solid #e53637;
    padding-left: 15px;
}


body{
    background-color: #0b0c2a;
}
.carousel-indicators :nth-child(1){
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.carousel-indicators :nth-child(2){
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.carousel-indicators :nth-child(3){
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.carousel-control-prev-icon{
    position: absolute;
    left: 20px;   
}
.carousel-control-prev-icon::before{
    content: '';
    position: absolute;
    top: -9px;
    left: -7px;
    width: 50px;
    height: 50px;
    background-color: #b03024;
    rotate: 50deg;
    z-index: -1;
    border: 7px solid #0b0c2a;
    transition: 2s;
}

.carousel-control-next-icon{
    position: absolute;
    right: 20px;   
}
.carousel-control-next-icon::before{
    content: '';
    position: absolute;
    top: -9px;
    right   : -7px;
    width: 50px;
    height: 50px;
    background-color: #b03024;
    rotate: 50deg;
    z-index: -1;
    border: 7px solid #0b0c2a;
}
.carousel-inner{
    border-radius: 8px;
    overflow: hidden;
}

.card-rating{
    position: absolute;
    background-color: #e53637;
    color: white;
    text-align: center;
    border-radius: 5px;
    top: 10px;
    left: 10px;
    width: 60px;
    font-size: 15px;
    font-weight: 400;
}
.card-comment{
    position: absolute;
    background-color: #444;
    right: 10px;
    bottom:-7px;
    width: 50px;
    padding: 3px 0px 3px 0px;
    border-radius: 6px;
    text-align: center;
}
.card-view{
    position: absolute;
    text-align: center;
    background-color: #444;
    left: 10px;
    bottom:10px;
    border-radius: 6px;
    padding: 3px 0px 3px 0px;
    width: 70px;
}
.animeCard{
    cursor: pointer;
    overflow: hidden;
    position: relative;

}
.animeCard img{
    border-radius: 8px;
    transition: 0.3s;
}
.animeCard:hover img{
    border-radius: 8px;
    transform: scale(1.1);

}
.animeTag p{
    font-size: 12px;
    font-weight: 400;
    padding: 0px 5px 0px 5px ;
    background-color: #3c3d55;
    border-radius: 10px;

}
.date{
    color: white;
    font-weight: 300;
    font-size: 12px;
    padding: 0px 15px;
    background-color: #9bb7b7;
    margin: 0px 7px 0px 7px;
    border-radius: 7px;
    cursor: pointer;
}
.side-card{
    overflow: hidden;
}

.side-card img{

    border-radius: 8px;
}
.side-rating{
    position: absolute;
    top: 30px;
    left: 20px;
    color: white;
    padding: 0px 18px;
    border-radius: 5px;
    background-color: #e53637;
    font-weight: 400;
}
.side-card-title{
    position: absolute;
    bottom: 10px;
    color: white;
    left: 50px;
}
.side-card-view{
    position: absolute;
    color: white;
    background-color: #3d3d3d;
    padding: 2px 15px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 7px;
    top: 30px;
    right: 20px;
}

.side-card img{
    transition: 0.5s;
    cursor: pointer;
}
.side-card:hover img{
    border-radius: 8px;
    transform: scale(1.05);
}

.comment-active-movie p{
    font-weight: 300;
    font-size: 10px;
    padding: 0px 11px 0px 11px;
    background-color: #3c3d55;
    border-radius: 7px;
    margin-left: 10px;
}
.footer-page a{
    text-decoration: none;
    color:#9bb7b7;
}
.arrowup{
    position: absolute;
    color: white;
    top: -80px;
    left: 150px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e53637;
    font-size: 30px;
}
.arrowup i{
    position: absolute;
    left: 13px;
    top: 10px;
}
.fa-user{
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .side-card-title{
        left: 30px;
        font-size: 12px;
    }
    .arrowup{
        left: 200px;
    }
    .contact-fs{
        font-size: 13px;
    }


}
@media only screen and (max-width:767px ){
    .arrowup{
        left: 45%;
    }
    .side-card-title{
        font-size: 12px;
    }



}

@media only screen and (max-width: 992px) {
     .navlink-margin0{
      background-color:white;
      position: relative;
      z-index: 3;
    }
    .navtitle{
        font-size: 16px;
        font-weight: 500;
        color: black;
        padding-top: 10px;
       }

    .card-comment{
        right:  10px;
        bottom:-7px;
    }
    .side-card-view{
        font-size: 12px;
        padding: 0px 10px;
    }
    .side-card-title{
        font-size: 15px;
    }
  }

@media only screen and (min-width: 992px) {
    .navlink-margin0{
     margin-left: 130px;
   }
   .navlink-margin0 li i{
    margin-left: 50px;
   }
   .navtitle{
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-top: 10px;
   }
   .active{
    background-color: #e53637;
   }
   .nav-item{
    padding: 0px 30px;
   }

 }

 .linktodetail{
    text-decoration: none;
    color: white;
 }
 .linktodetail:hover{
    color: white;
 }



 @media only screen and (min-width: 992px) and (max-width:1200px){
    .navtitle{
        font-size: 12px;
    }
    .side-card-title{
        font-size: 14px;
    }

 }

 @media screen and (max-width: 600px){
    p{
        font-size: 12px;
    }
    h1{
        font-size: 20px;
    }
    .container {
        padding: 0;
        margin: 0;
    }
 }

