.rightborder{
    border-right: 1px solid white;
}
.socialsignin p{
    padding: 5px 60px;
    font-size: 18px;
    letter-spacing: 2px;
}

.socialsignin:hover{
    cursor: pointer;
}
.socialsignin p:nth-child(1){
    background-color: #4267b2;
}
.socialsignin p:nth-child(2){
    background-color: #ff4343;
}
.socialsignin p:nth-child(3){
    background-color: #1da1f2;
}


@media screen and (max-width: 900px){
    .rightborder{
        border: 0px solid white;
    }


}
@media screen and (max-width: 600px){
    .rightborder{
        border: 0px solid white;
    }
    .rightlogin{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .socialsignin p{
        font-size: 13px;
        
    }
}
