.social-link a{
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}
.social-link :nth-child(1){
    
    background-color: #3b5998;
}
.social-link :nth-child(2){
    background-color: #ca2027;
}
.social-link :nth-child(3){
    background-color: #0372b1;
}
.social-link :nth-child(4){
    background-color: #39a1f2;
}


.hover-arrow:hover{
    cursor: pointer;
}
.normal-p{
    font-weight: lighter;
    font-size: 14px;
    color: gray;
    padding-top: 10px;
}
.comment-btn p{
    font-weight: 200;
    background-color: gray;
    border-radius: 8px;
}
.comment-btn p:hover{
    background-color: #ca2027;
    cursor: pointer;
}
.usericon:hover{
    cursor: pointer;
}
.textfield input{
    margin-top: 15px;
    width: 100%;
    height: 100px;

}
.inputbox{
    display: flex;
    justify-content: center;
}
.inputbox input{
    width: 49%;
}

.comment-card img{
    width: 50px;
    height: 50px;
}
@media only screen and (max-width: 600px){
    .social-link a{
        font-size: 16px;
        width: 150px;
    }
    .hover-arrow{
        font-size: 12px;
    }
}
@media only screen and (min-width: 900px){
    .inputcontainer{
        width: 75%;
    }
}