.episode p{
    background-color: #434685;
    width: 80px;
    height: 40px;
    text-align: center;
    border-radius: 7px;
    display: flex;
    margin: 10px;
    padding:  7px 15px ;
}
.episode p:hover{
    background-color: rgb(189, 40, 40);
    cursor: pointer;
}